
@{
    ViewData["Title"] = "Your Accounts";
    ViewData["linkVis"] = "color: white; " +
                "visibility: visible;";
    ViewData["link1"] = "Info";
    ViewData["link2"] = "Incidents";
    ViewData["link3"] = "Logoff";

    ViewData["link1Action"] = "Info";
    ViewData["link2Action"] = "UserTable";
    ViewData["link3Action"] = "logoff";
}
<!-- HTML Code: Place this code in the document's body (between the 'body' tags) where the table should appear -->
<h2>User Table</h2>
<h3>Welcome @ViewBag.Username</h3>
<div id="tableHere"></div>
<div id="errorHere"></div>

<script src="~/js/TableBuilder.js"></script>
<script src="~/js/ajax.js"></script>
<script src="~/js/test.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (event) => {
        ajax({
            url: '/api/useraccounts',
            successFn: buildDropDown,
            errorId: 'errorHere'
        });
    })

    function buildDropDown(data) {
        console.log(data);
        TableBuilder.useraccounts(data, @ViewBag.Id);
    }
</script>
<!-- Generated at CSSPortal.com -->
