
@{
    ViewData["Title"] = "Info";
    ViewData["link1"] = "Incidents";
    ViewData["link2"] = "Logoff";


    ViewData["link1Action"] = "UserTable";
    ViewData["link2Action"] = "Logoff";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Info</h1>
<h2>Group Members</h2>
<ul>
    <li>James Mullan</li>
    <li>Luke Jakielaszek </li>
    <li>Danielle Burella </li>
    <li>Jonathon Sanks</li>
    <li>Charles Chang</li>
    <li>Catherine Schaper</li>
    <li>Dishant Patel</li>
</ul>

