
@{
    ViewData["Title"] = "Logoff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Logoff</h1>
<form method="post">
        <input type="submit" value="Confirm Logoff" />
        <div>@ViewBag.Messagee</div>
</form>

