@model HomeAccount
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form form--signup framed" style="top: 20%" asp-action="Register" method="post">
    <div class="inputWrap">
        <img class="logo" src="~/pics/logo.png">

        <input asp-for="AccountUsername" type="text" placeholder="Username" class="input input--top" id="userRegBox" />
        <input asp-for="AccountPassword" type="password" placeholder="Password" class="input" id="passRegBox" />
        <input asp-for="EmailAddress" type="email" placeholder="Email" class="input" id="emailRegBox" />
        <input asp-for="FirstName" type="text" placeholder="First Name" class="input" id="fNameRegBox" />
        <input asp-for="LastName" type="text" placeholder="Last Name" class="input" id="lNameRegBox" />
        <input asp-for="HomeAccountAddress" type="text" placeholder="'Street Address', 'City', 'State' 'ZIP'" class="input" id="addressRegBox" />
        <input asp-for="AccountPin" type="text" placeholder="Enter a PIN you will remember" class="input" id="lNameRegBox" />
        <input asp-for="PhoneNumber" type="text" placeholder="Phone Number" class="input" id="phoneRegBox" />
        <input type="submit" value="Register" class="input input--submit" />
        <div class="logonErrorMsg" style="color:white">@ViewBag.Message</div>

        <label class="text text--small text--centered">Already have an account? <a asp-area="" asp-controller="Home" asp-action="Index">Sign in</a></label>
    </div>
</form>

